@import './base.css';

#app {
  max-width: 100%;
  margin: 0 auto;
  
  font-weight: normal;
  background-color: var(--light-blue);
}

a {
  text-decoration: none;
  color: var(--black);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--yellow);
  }
}
